@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "Market";
}

<!--title-->
<div>
    <div id="ct">
        <div class="corner " id="left_top"></div>
        <div class="corner" id="left_bottom"></div>
        <div class="corner" id="right_top"></div>
        <div class="corner" id="right_bottom"></div>
        <div id="game-title">
            <span>Market</span>
        </div>

        <blockquote>
            <p>
                <i>
                    &ldquo;Welcome to Market.
                    Purchase and you could speed up the process of your exploration.&rdquo;
                </i>
            </p>
        </blockquote>
    </div>

</div>

<!--pictures-->
<div class="coin-margin">
    <div class="row">
        <div class="col-md-4">
            <div class="coin-effect">
                <img class="img-responsive" src='~/Content/Images/WorldTour/junior.png' alt="worker1">
                <div class="overlay">                   
                    <a class="info" href="#">Buy</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="coin-effect">
                <img class="img-responsive" src='~/Content/Images/WorldTour/senior.png' alt="worker2">
                <div class="overlay">
                    <a class="info" href="#">Buy</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="coin-effect">
                <img class="img-responsive" src='~/Content/Images/WorldTour/expert.png' alt="worker3">
                <div class="overlay">
                    <a class="info" href="#">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="coin-effect">
            <img class="img-responsive" src='~/Content/Images/WorldTour/low_new_end.png' alt="machine1">
            <div class="overlay">
                <a class="info" href="#">Buy</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="coin-effect">
            <img class="img-responsive" src='~/Content/Images/WorldTour/mid_new_end.png' alt="machine2">
            <div class="overlay">
                <a class="info" href="#">Buy</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="coin-effect">
            <img class="img-responsive" src='~/Content/Images/WorldTour/high_new-end.png' alt="machine3">
            <div class="overlay">
                <a class="info" href="#">Buy</a>
            </div>
        </div>
    </div>

    
</div>

<div class="coin_message">
    <img src='~/Content/Images/coin bank.png'>
</div>

