
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="student-style">
    <section>
        <div class="studentdashboard-img">
            <img src="~/Content/Images/Student Dashboard/welcome board final.png" align="middle" width="1100" height="180">
        </div>
    </section>

    <section>
        <div class="studentdashboard-img">
            <img src="~/Content/Images/Student Dashboard/game dashboard final.png" align="middle" width="1100" height="400">
        </div>
    </section>

    <section>
        <div class="studentdashboard-img">
            <img src="~/Content/Images/Student Dashboard/attendance record dashboard final.png" align="middle" width="1100" height="400">
        </div>
    </section>
</div>




