@* Landing Page for the Game World Tour *@

@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    @* Game Instruction Page *@
    ViewBag.Title = "Game";
}


@* game-button Link to Select Gamepiece *@
@*<div>
        <img src="~/Content/Images/loading page final.png" id="bg" alt="">
    </div>*@
<body class="game">
    <div class="game-container">
        @*<img src="~/Content/Images/loading page final.png" class="img-enlarge" />*@
        <div class="bottom">
            <a href="~/Student/Play" class="game-button color-white" role="button">PLAY</a>
        </div>
    </div>
    <style>
            footer {
                display: none;
            }
    </style>
</body>
