
@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "level3";
}

<body class="level3">
    <style>
        footer {
            display: none;
        }
    </style>
</body>
 

