@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game PrizeTomb Page *@
    ViewBag.Title = "PrizeTomb";
}


@* Button Link to Select Gamepiece *@
<body class="prizetomb">
    <div class="prizetomb-container">
        <div class="prizetomb-bottom">
            <a href="~/Student/PrizeDex" class="prizetomb-button game-button color-white" role="button">Enter the Tomb</a>
        </div>
    </div>
</body>





