@model TeamProject.Models.StudentDisplayViewModel

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Profile";
}


<body class="profile-background">
    <center>
        <div class="profile">
            <br /><br /><br /><br />
            <img src="~/Content/Images/Student Profile/student profile final.png" alr="Profile" />
            @Html.ActionLink("RESET PASSWORD", "UpdatePassword", null, new { controller = "Home" }, new { @class = "btn-1 orange-background" })
        </div>
    </center>
</body>
