
@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "Select";
}

<!--title-->
<div>
    <div id="ct">
        <div class="corner " id="left_top"></div>
        <div class="corner" id="left_bottom"></div>
        <div class="corner" id="right_top"></div>
        <div class="corner" id="right_bottom"></div>
        <div id="game-title">
            <span>Selection</span>
        </div>
        <blockquote>
            <p>
                <i>
                    &ldquo;Welcome back to shcool.
                    Please select a pyramid you want to explore.&rdquo;
                </i>
            </p>
        </blockquote>
    </div>

</div>

<!--pictures-->
<div class="coin-margin">
    <div class="row">
        <div class="col-md-4">
            <div class="select-effect">
                <img class="img-responsive" src='~/Content/Images/egypt-pyramids.jpg' alt="Khufu">
                <div class="overlay">                    
                        <h2><a href="~/Student/Play">Khufu pyramid</a></h2>                        
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="select-effect">
                <img class="img-responsive" src='~/Content/Images/egypt-pyramids.jpg' alt="Khafre">
                <div class="overlay">
                    <h2><a href="~/Student/Play">Khafre pyramid</a></h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="select-effect">
                <img class="img-responsive" src='~/Content/Images/egypt-pyramids.jpg' alt="Menkaure">
                <div class="overlay">
                    <h2><a href="~/Student/Play">Menkaure pyramid</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="select-effect">
            <img class="img-responsive" src='~/Content/Images/egypt-pyramids.jpg' alt="Zoser">
            <div class="overlay">
                <h2><a href="~/Student/Play">Zoser pyramid</a></h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="select-effect">
            <img class="img-responsive" src='~/Content/Images/egypt-pyramids.jpg' alt="Nyuserre Ini">
            <div class="overlay">
                <h2><a href="~/Student/Play">Nyuserre Ini pyramid</a></h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="select-effect">
            <img class="img-responsive" src='~/Content/Images/egypt-pyramids.jpg' alt="Tut">
            <div class="overlay">
                <h2><a href="~/Student/Play">Tut pyramid</a></h2>
            </div>
        </div>
    </div>
</div>




















