@{
    /**/

    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    ViewBag.Title = "About";
}


<body class="about-background">
    <div class="text-calibri title">&emsp;About Us</div>
    <center>
        <div>
            <img src="~/Content/Images/UHigh.png" class="about-image" />
            <br /><br />
            <div class="text-calibri text-style text-bold largetext">"To awaken the dreamers, for the dreamers, by the dreamers"</div>
            <br />
            <p class="text-calibri text-style text-bold paragraph">
                The brand new time-based attendance system will lesson your workload.
                <br /><br />
                You don't have to call attendance anymore.
                <br /><br />
                Student will simply click a button to check in and check out.
                <br /><br />
                The user-friendly interface and game content will promote students to come to school on time and stay longer.
            <p />
        </div>
    </center>
</body>


