@{
    ViewBag.Title = "Home";
}

<div class="enlargecontainer-home">
    <!--titles-->
    <!--including background, middle college title, the flip-->
    <div class="textcenter">
        <div class="yellow-background">
            <img class="img2" src="~/Content/Pages/logo.png">
            <div>
                <h1>MIDDLE COLLEGE</h1>
            </div>
            <div id=filptext>
                <br />
                Make
                <div id=flip>
                    <div><div>School Life</div></div>
                    <div><div>Yourself</div></div>
                    <div><div>Everything</div></div>
                </div>
                AweSoMe!
            </div>
            <br />
        </div>
    </div>

    <!--buttoms with links to different login page-->
    <div class="textcenter">
        <br />
        <div>
            <a href="~/Home/AdminLogin" class="homebutton">Admin</a>

            <a href="~/Home/StudentLogin" class="homebutton">Student</a>

            <a href="~/Home/KioskLogin" class="homebutton">Kiosk</a>
        </div>
    </div>
    <br />

    <!--photos to make the website funny-->
    <div class="row">
        <div class="col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="https://bit.ly/2sfr9UP" id="img-width">
                <div class="overlay">
                    <h2>We Study</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="https://bit.ly/2s9dJcB" id="img-width">
                <div class="overlay">
                    <h2>We Play</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="https://bit.ly/2Lx8j3b" id="img-width">
                <div class="overlay">
                    <h2>We Love</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="https://bit.ly/2J6jKAJ" id="img-width">
                <div class="overlay">
                    <h2>We Together</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <!--copyright-->
    <p class="homecopyright">U-High Team @@ Seattle University</p>
    <br />
    <br />
</div>



