@{
    ViewBag.Title = "UpdatePassword";
}


<body class="update-background">
    <center>
        <div class="updatepassword-style">
            <br /><br /><br /><br />
            <img src="~/Content/Pages/UpdatePWImage.png" alr="Update" />
            <input type="password" class="form-control1" size="1000" placeholder="New Password" required autofocus>
            <label for="inputPassword"></label>
            <input type="password" class="form-control2" size="1000" placeholder="Confirm Password" required autofocus>
            <label for="inputPassword"></label>
            @Html.ActionLink("BACK HOME", "Index", null, new { @class = "btn-1" })
            @Html.ActionLink("UPDATE", "Index", null, new { @class = "btn-2" })
        </div>
    </center>
</body>
