
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

@* Alignment for dashboard *@
<body class="body-style">
    <section>
        <div class="div-style">
            <left><a href="~/Admin/Report"><img src="~/Content/Images/dashboard pic.png"></a></left>
            <right><img src="~/Content/Images/dashboard pic3.png" align="middle" width="350" height="500" class="img-one"></right>
</div>
        <div>
            <a href="~/Admin/Calendar"><img src="~/Content/Images/calendar on dashboard2.png" align="middle" width="340" height="220" class="img-two"></a>
        </div>
    </section>
</body>

