@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Profile";
}

@* Alignment for Admin Profile *@
<body class="profile-background">
    <center>
        <div class="profile">
            <br /><br /><br /><br />
            <img src="~/Content/Pages/Admin Profile.png" alr="Profile" />
            @Html.ActionLink("RESET PASSWORD", "UpdatePassword", null, new { controller = "Home" }, new { @class = "btn-1 green-background" })
        </div>
    </center>
</body>

