
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Register admin";
}




@* Alignment for Admin Registration *@
<body class="adminregister-style">
    <center>
        <div class="adminregister">
            <br /><br /><br /><br />
            <img src="~/Content/Pages/Admin Registration.png" alr="Register" />
            @Html.ActionLink("CANCEL", "Dashboard", null, new { @class = "btn-1" })
            @Html.ActionLink("REGISTER", "Dashboard", null, new { @class = "btn-2" })
            <input type="text" size="1000" class="form-control1" placeholder="First Name" required autofocus>
            <label for="firstName"></label>
            <input type="text" size="1000" class="form-control2" placeholder="Last Name" required autofocus>
            <label for="lastName"></label>
            <input type="email" size="1000" class="form-control3" placeholder="Email address" required autofocus>
            <label for="email"></label>
        </div>
    </center>
</body>
